@model proj2_tutorialPL.Models.Product

@using (Html.BeginForm("Add", "Warehouse", FormMethod.Post))//akcja kontroler
{
	@Html.ValidationSummary()
	<span>Nazwa</span>
	@Html.TextBoxFor(x=>x.Name)

	<span>Model samochodu</span>
	@Html.TextBoxFor(x=>x.Model)

	<span>Kategoria produktu</span>
	@Html.TextBoxFor(x=>x.Category)

	<span>Opis produktu</span>
	@Html.TextBoxFor(x=>x.Description)

	<span>Spalanie samochodu</span>
	@Html.TextBoxFor(x=>x.Fuel_burning)
	

	

	<button type="submit">Wyślij formularz</button>
}
