@model proj2_tutorialPL.Models.Product

@using (Html.BeginForm("Add", "Warehouse", FormMethod.Post))//akcja kontroler
{
	@Html.ValidationSummary()
	<span>Nazwa produktu</span>

	@Html.TextBoxFor(x=>x.Name)
	<span>Opis produktu</span>

	@Html.TextBoxFor(x=>x.Description)
	<span>Kategoria produktu</span>

	@Html.TextBoxFor(x=>x.Model)
	<span>Model samochodu</span>

	@Html.TextBoxFor(x=>x.Fuel_burning)
	<span>Spalanie samochodu</span>

	@Html.TextBoxFor(x=>x.Category)

	<button type="submit">Wyślij formularz</button>
}
