@model proj2_tutorialPL.Models.Rent

<div>
    <h2>Szczegóły wypożyczenia</h2>
    <p>Produkt ID: @Model.ProductId</p>
    <p>Kierowca ID: @Model.DriverId</p>
    <p>Data wynajmu: @Model.RentalDate.ToShortDateString()</p>
    <p>Data zwrotu: @(Model.ReturnDate.HasValue ? Model.ReturnDate.Value.ToShortDateString() : "N/A")</p>
    <p>Koszt wynajmu: @Model.RentalCost PLN</p>
    <p>Status: @Model.Status</p>
    <p>Pakiet ochrony: @Model.ProtectionPackage</p>
    <p>User subL @Model.UserSub</p>
</div>
