@model proj2_tutorialPL.Models.Rent

<h2>Wypożyczenie</h2>
<p>Produkt: @Model.Product.Name</p>
<p>Model: @Model.Product.Model</p>
<p>Spalanie: @Model.Product.Fuel_burning</p>
<p>Opis: @Model.Product.Description</p>
<p>Kategoria: @Model.Product.Category</p>
<p>Data wypożyczenia: @Model.RentalDate</p>
<p>Data zwrotu: @Model.ReturnDate</p>
<p>Koszt wypożyczenia: @Model.RentalCost</p>
<p>Status: @Model.Status</p>
